@import url(../../styles/bootstrap.css);

.buttonComponent .bg-secundary{
    background-color: var(--primary-color) !important;
    box-shadow: none;
}

.buttonComponent .btn-primary {
    background-color: var(--primary-color) !important;
    color: var(--color-white) !important;
    box-shadow: none;
}

.buttonComponent button {
    font-size: 15px;
    font-weight: 500;
    padding: 10px 16px;
    transition: .3s;
    background-color: var(--primary-color);
    box-shadow: none;
    border-radius: 10px !important;
    text-transform: capitalize;
}

.buttonComponent button:hover{
    transition: .3s;
    background-color: var(--primary-color);
    opacity: .8;
    box-shadow: none;
}