/* Para o h2 */
h2 {
    font-size: 36px; /* Aumenta o tamanho do título */
    font-weight: bold;
    text-align: center; /* Opcional: centralizar o título */
  }
  
  /* Ajuste no input */
  .input-cpf {
    padding: 10px 15px; /* Aumenta o padding */
    font-size: 18px; /* Aumenta o tamanho da fonte */
    border-radius: 5px;
    border: 2px solid #ccc;
    width: 100%; /* Faz o input ocupar 100% da largura disponível */
  }
  
  /* Ajuste no botão */
  .button-pesquisar {
    padding: 10px 15px;
    font-size: 18px; /* Aumenta o tamanho da fonte */
    border-radius: 5px;
    background-color: #4CAF50; /* Cor de fundo */
    color: white;
    cursor: pointer;
    width: 100%; /* Faz o botão ocupar toda a largura disponível */
  }
  