@charset "UTF-8";

.header_medicamentos{
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--secondary-color);
}

.header_medicamentos h1{
    color: var(--color-white);
    font-size: 20px;
    font-weight: bolder;
    padding: 10px;
    margin-left: 10px;
}
.header_medicamentos-acao{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.header-pesquisar_input{
    padding: 15px;
}

.header-pesquisar_input input{
    width: 20vh;
    height: 30px;
    border-radius: 10px;
    font-size: 10px;
    text-align: center;
}

.header_button{
    display: flex;
    align-items: center;
    justify-items: center;
    gap: 10px;
    padding-bottom: 10px;
}

.header_button .header_button_action{
   color: var(--color-white);
   font-weight: bold;
   font-size: 12px;
   padding: 5px;
}

.header_button_acao{
    width: 10vh;
    padding: 5px;
    margin-bottom: 20px;
    font-weight: bolder;
    border-radius: 20px;
}

.section_botao-atualizar{
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    padding: 10px;
}

.section_botao-atualizar .section_botao-atualizar_action{
    color: var(--color-white);
    font-weight: bold;
    font-size: 12px;
}

.termos-container-medicamentos{
    display: flex;
    flex-direction: column;
}

.termos-container-medicamentos_thead{
    padding: 5px;
    width: 100%;
    background-color: var(--color-white);
    border-radius: 10px;
    border: 1px solid rgba(0, 0, 0, 0.182);
    font-weight: bold;
    font-size: 12px;
}

.termos-container-medicamentos_thead tr{
    display: flex;
    /*Preencher a área permitida com os elementos*/
    justify-content: space-between;
    align-items: center;
    text-transform: uppercase;
    padding-right: 22%;

}


.termos-container-medicamentos_tbody{
    display: flex;
    flex-direction: column;
    gap: 10px;
    font-size: 12px;
}

.termos-container-medicamentos_tbody .termos-container-medicamentos_tbody_action{
    color: var(--color-white);
    font-weight: bold;
    font-size: 11px;
    width: 100%;
}

.form_cancelar{
    background-color: red;
}

.modal_medicamento {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    align-items: center;
    justify-content: center;
}

.modal_medicamento-content {
    background: white;
    padding: 20px;
    border-radius: 8px;
    width: 300px;
    text-align: left;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
}

.modal_medicamento-content h2{
    text-align: center;
}

.close {
    position: fixed;
    top: 10px;
    
    right: 50px;
    font-size: 30px;
    cursor: pointer;
    background-color: var(--color-white);
    border-radius: 50%;
    padding: 5px;

}

.modal_medicamento-update{
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    display: flex;
    align-items: center;
    justify-content: center;
    overflow: auto; /* Permite rolagem geral */
    padding: 20px; /* Garante que o modal não fique colado nas bordas */
}
.modal_medicamento-content-update {
    background: white;
    width: 50%;
    max-height: 80vh; /* Limita a altura do modal para evitar que ultrapasse a tela */
    overflow-y: auto; /* Adiciona rolagem vertical dentro do modal */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.3);
    display: flex;
    flex-direction: column;
}

@media (min-width: 600px) {
    .header_medicamentos h1{
        font-size: 30px;
    }
    .header_button{
        margin: 0 20px;
    }

    .header_button_acao{
        margin-top: 20px;
       width: 15vh;
    }
    .header_button .header_button_action{
        padding: 10px;
        font-size: 14px;
     }
     .section_botao-atualizar .section_botao-atualizar_action{
        color: var(--color-white);
        font-weight: bolder;
        font-size: 14px;
    }
    .termos-container-medicamentos_thead{
        font-size: 14px;
        
        width: 80%;
    }
    .termos-container-medicamentos_tbody{
        width: 80%;
        padding: 10px;
        font-size: 14px;
        font-weight: bold;
    }
    .termos-container-medicamentos_tbody tr{
        display: flex;
        justify-content: space-between;
        align-items: center;
        
    }

}

@media (min-width: 1100px) {
    .header_medicamentos h1{
        font-size: 40px;
    }
    .header_medicamentos-acao{
        flex-direction: row;
    }
    .header-pesquisar_input input{
        width: 30vh;
        height: 30px;
        border-radius: 10px;
        font-size: 10px;
        text-align: center;
    }
    .modal_medicamento-content {
        width: 600px;
    }

}