/* Container principal */
.home-page {
    background-color: var(--background-color);
    color: var(--text-color);
    font-family: Arial, sans-serif;
    padding: 0 0 20px 0;
}

.home-page__header {
    width: 100%;
    background-color: var(--primary-color);
    height: 400px;
    margin-bottom: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 0;
}

.home-page__header-text h1 {
    max-width: 100%;
    color: var(--color-white);
    text-align: center;
    font-weight: bold;
    font-size: xxx-large;
}

.home-page__header img {
    width: 600px;
    box-shadow: -5px 0 10px rgba(0, 0, 0, 0.3);
}


.home-page__services {
    text-align: center;
}

.home-page__services h2{
    font-weight: normal;
}

/* Container do carrossel */
.home-page__carousel-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}

/* Container dos cards no modo carrossel */
.home-page__cards-container--carousel {
    display: flex;
    flex-wrap: nowrap;
    overflow: hidden;
    gap: 20px;
    padding: 5px;
}

/* Container dos cards no modo grid (ver tudo) */
.home-page__cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
}

/* Estilo de cada card */
.home-page__card {
    background-color: var(--color-white); /* Card com cor branca */
    border-radius: var(--border-radius);
    padding: 20px;
    margin-bottom: 5px;
    width: 280px;
    height: 350px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4);
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    position: relative;
    color: var(--secondary-color);
}

.home-page__card:hover {
    background-color: var(--background-secondary);
}

/* Título do card */
.home-page__card-title {
    margin-top: 0;
}

/* Botão do card */
.home-page__card-button {
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
    height: 50px;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.home-page__card-button:hover {
    background-color: var(--tertiary-color);
}

.home-page__card-icon {
    font-size: 2.5rem;
    color: var(--primary-color);
    margin-bottom: 15px;
}

/* Botões do carrossel */
.home-page__carousel-button {
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    border-radius: var(--border-radius);
    padding: 10px;
    cursor: pointer;
    font-size: 1.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.home-page__services h2{
    font-size: xx-large;
    color: var(--text-color);
    text-align: center;
}

.home-page__carousel-button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

.home-page__carousel-button:hover {
    background-color: var(--tertiary-color);
}

/* Botão "Ver tudo" */
.home-page__ver-tudo-button {
    margin-top: 7px;
    background-color: var(--primary-color);
    color: var(--color-white);
    border: none;
    padding: 10px 20px;
    border-radius: var(--border-radius);
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.home-page__ver-tudo-button:hover {
    background-color: var(--tertiary-color);
}
