.requisicao-container {
  max-width: 400px;
  margin: 20px auto;
  padding: 20px;
  background-color: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h2,
h3 {
  text-align: center;
}

input {
  width: 100%;
  padding: 8px;
  margin: 8px 0;
  border: 1px solid #ccc;
  border-radius: 4px;
}
/* Estilizando o label "Selecione um exame" */
.exame-label {
  font-weight: bold;
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

/* Estilizando o select */
.exame-select {
  width: 100%;
  padding: 8px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
}

/* Estilização do label da data */
.data-label {
  font-size: 16px;
  color: #333;
  display: block;
  margin-bottom: 5px;
}

/* Estilização do input de data */
.data-input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 5px;
  background-color: #fff;
  cursor: pointer;
}

/* Estilização ao focar */
.data-input:focus {
  border-color: #007bff;
  outline: none;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}


/* Estilizando as opções dentro do select */
.exame-option {
  font-size: 14px;
  padding: 5px;
  color: #333;
  background-color: #fff;
}

/* Estilizando o botão "Adicionar Exame" */
.exame-btn {
  background-color: #007bff;
  color: white;
  border: none;
  padding: 10px 15px;
  font-size: 14px;
  cursor: pointer;
  border-radius: 5px;
  transition: background-color 0.3s ease;
}

.exame-btn:hover {
  background-color: #0056b3;
}

.button-requisicao {
    width: 100%;
    padding: 10px;
    background-color: #0da6ff;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
}

.search-container button:hover {
  transition: 0.3s;
  opacity: 0.7;
}

.lista-exames {
  margin-top: 20px;
  padding: 10px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
}

.lista-exames ul {
  list-style: none;
  padding: 0;
}

.lista-exames li {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px;
  border-bottom: 1px solid #ddd;
}

.lista-exames li:last-child {
  border-bottom: none;
}

.remover-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 4px;
  cursor: pointer;
  max-width: 100px;
}

.remover-btn:hover {
  background-color: #c82333;
}
