.termos-container {
    width: 100%;
    margin: auto;
    background-color: var(--background-color);
    border-radius: var(--border-radius);
    text-align: center;
}

.termos-container .header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 15px 1% 5px 1%;
    margin-bottom: 15px;
    width: 100%;
    background-color: var(--secondary-color);
    box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.4);
}

.termos-container .header h1 {
    padding-left: 7%;
    font-size: 1.5em;
    font-weight: bold;
    text-align: center;
    color: var(--color-white);
}

.termos-container .header h1:hover {
    cursor: pointer;
}

.termos-container .header input {
    width: 230px;
    height: 40px;
    padding: 10px;
    margin-right: 5px;
    margin-left: 8px;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
}

.termos-container .header button {
    height: 40px;
    margin-bottom: 10px;
    display: flex;
    gap: 10px;
    align-items: center;
    background-color: var(--primary-color);
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    transition: background-color 0.3s ease, transform 0.2s ease;
}

.termos-container .header button:hover {
    background-color: var(--tertiary-color);
    transform: scale(1.05);
}

.termos-container .create-term {
    margin-left: auto;
}

/* Estilização da tabela */
.termos-container table {
    width: 90%;
    margin: auto;
    text-align: center;
    align-items: center;
    background-color: var(--background-color); /* Cor de fundo para a tabela */
    border-radius: var(--border-radius); /* Bordas arredondadas para a tabela */
    border-collapse: separate; /* Separa as células para permitir espaçamento */
    border-spacing: 0 10px; /* Espaçamento entre as linhas (0px horizontal, 10px vertical) */
}

/* Estilo para as células da tabela */
.termos-container td {
    padding: 12px;
    border: 0px solid; /* Cor suave para as bordas das células */
    text-align: center;
}

/* Estilo para as linhas da tabela */
.termos-container table tbody tr:nth-child(odd) {
    background-color: var(--color-white); /* Cor para as linhas ímpares */
    color: var(--text-color); /* Texto preto nas linhas ímpares */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.termos-container table tbody tr:nth-child(even) {
    background-color: var(--color-white); /* Cor para as linhas pares */
    color: var(--text-color); /* Texto preto nas linhas pares */
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.termos-container table tbody tr:hover {
    background-color: var(--background-secondary);
}

.termos-container table tbody span{
    color: var(--gray-color);
}

/* Botão de exclusão */
.termos-container button.delete {
    background-color: #e74c3c;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
}

.termos-container button.delete:hover {
    background-color: #c0392b;
}

/* Estilização da paginação */
.termos-container .pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 8px;
    padding: 15px 0;
    background-color: var(--secondary-color);
    box-shadow: 0px -4px 8px rgba(0, 0, 0, 0.6);
}

/* Estilos dos botões de paginação */
.termos-container .pagination button {
    background-color: var(--background-color);
    color: var(--text-color);
    padding: 10px 15px;
    cursor: pointer;
    font-size: 16px;
    font-weight: bold;
    border-radius: var(--border-radius);
    transition: all 0.3s ease-in-out;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
    border: none;
}

/* Efeito ao passar o mouse nos botões */
.termos-container .pagination button:hover {
    background-color: var(--tertiary-color);
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

/* Botão da página ativa */
.termos-container .pagination button.active-page {
    background-color: var(--primary-color);
    color: white;
    transform: scale(1.1);
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.3);
}

/* Estilização dos botões desativados */
.termos-container .pagination button:disabled {
    background-color: var(--gray-color);
    color: #888;
    border: none;
    cursor: not-allowed;
    transform: none;
    box-shadow: none;
}

/* Melhor transição para o botão ativo */
.termos-container .pagination button.active-page:hover {
    background-color: var(--primary-color);
    border: 2px solid var(--primary-color);
}

/* Estilização do modal de detalhes */
.termos-container .modal {
    position: fixed; /* Fixa o modal na tela */
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5); /* Fundo escuro semitransparente */
    display: flex; /* Exibe o modal no centro */
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
}

/* Conteúdo do modal */
.termos-container .modal-content {
    background-color: white; /* Cor de fundo */
    padding: 20px; /* Espaçamento interno */
    border-radius: 10px; /* Bordas arredondadas */
    width: 80%;
    max-width: 600px; /* Largura máxima */
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2); /* Sombra para destaque */
}

/* Margem para botões dentro do modal */
.termos-container button {
    margin-top: 10px;
}

/* Botão de fechar detalhes */
.termos-container .close-details {
    padding: 12px 20px; /* Espaçamento interno */
    background-color: white; /* Cor de fundo */
    color: var(--text-color); /* Cor do texto */
    border: 2px solid black; /* Borda preta */
    border-radius: var(--border-radius); /* Bordas arredondadas */
    cursor: pointer; /* Mostra que é clicável */
    font-size: 16px; /* Tamanho da fonte */
    font-weight: bold; /* Texto em negrito */
    transition: background-color 0.3s ease, transform 0.2s ease; /* Efeito suave ao interagir */
}

/* Efeito ao passar o mouse no botão de fechar */
.termos-container .close-details:hover {
    background-color: var(--gray-color); /* Muda a cor de fundo */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}

/* Botão de detalhes */
.termos-container .button-details {
    padding: 6px 20px; /* Espaçamento interno */
    background-color: var(--primary-color); /* Cor de fundo */
    color: white; /* Cor do texto */
    border: none; /* Remove borda */
    border-radius: 30px; /* Bordas arredondadas */
    cursor: pointer; /* Mostra que é clicável */
    font-size: 16px; /* Tamanho da fonte */
    transition: background-color 0.3s ease; /* Efeito suave ao interagir */
}

/* Efeito ao passar o mouse no botão de detalhes */
.termos-container .button-details:hover {
    background-color: var(--secondary-color); /* Muda a cor de fundo */
}

/* Linha divisória entre elementos */
.termos-container .divider {
    border: none;
    height: 1px; /* Define a espessura da linha */
    background-color: var(--text-color); /* Cor da linha */
    margin: 15px auto 15px auto; /* Espaçamento acima e abaixo */
    width: 95%; /* Largura total */
}

.termos-container .error-modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;
}

.termos-container .modal-content {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    width: 500px;
    text-align: center;
}

.termos-container .close {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
}

.termos-container .ok-button {
    background-color: #4CAF50; /* Cor do botão */
    color: white; /* Cor do texto */
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16criarpx;
}

.termos-container .ok-button:hover {
    background-color: #45a049; /* Efeito de hover */
}


/*Tela de criação de termos*/
/* Container principal do termo de consentimento */
.criar-termo-container {
    width: 50%;
    margin: 40px auto;
    padding: 20px;
    background-color: var(--background-secondary);
    border-radius: var(--border-radius);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

/* Título principal */
.criar-termo-container h1 {
    text-align: center;
    color: var(--text-color);
    font-size: 30px;
    padding: 40px;
}

/* Estilização dos grupos de formulários */
.criar-termo-container .form-group {
    margin-bottom: 20px;
}

/* Estilização dos rótulos (labels) */
.criar-termo-container label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
    color: var(--text-color);
}

/* Indicador de campo obrigatório */
.criar-termo-container .required {
    color: #e74c3c;
    font-size: 18px;
    margin-left: 1px;
    cursor: pointer;
    position: relative;
}

/* Tooltip exibindo "Campo obrigatório*" ao passar o mouse */
.criar-termo-container .required::after {
    content: "Campo obrigatório*";
    position: absolute;
    bottom: 20px;
    left: 0;
    background-color: #333;
    color: white;
    padding: 5px;
    border-radius: 5px;
    font-size: 12px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 0.3s;
    white-space: nowrap;
}

/* Torna o tooltip visível ao passar o mouse */
.criar-termo-container .required:hover::after {
    visibility: visible;
    opacity: 1;
}

/* Estilização dos campos de entrada (inputs e textarea) */
.criar-termo-container input,
.criar-termo-container textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border: 1px solid var(--gray-color);
    border-radius: var(--border-radius);
    font-size: 16px;
}

/* Configuração específica para textarea */
.criar-termo-container textarea {
    resize: vertical;
    height: 120px;
}

/* Botão de submissão */
.criar-termo-container button {
    background-color: var(--primary-color);
    color: var(--color-white);
    padding: 10px 20px;
    border: none;
    border-radius: var(--border-radius);
    cursor: pointer;
    width: 100%;
    font-size: 16px;
}

/* Efeito hover no botão */
.criar-termo-container button:hover {
    background-color: var(--tertiary-color); /* Muda a cor de fundo */
    transform: scale(1.05); /* Aumenta ligeiramente o tamanho */
}

/* Estilização do contador de caracteres, alinhado à direita */
.criar-termo-container button .character-count {
    font-size: 14px;
    color: var(--text-color);
    text-align: right;
    margin-top: 5px;
}

/* Container que agrupa a mensagem de erro e o contador */
.criar-termo-container button .error-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
}

/* Mensagem de erro, alinhada à esquerda */
.criar-termo-container button .error-message {
    font-size: 14px;
    color: #e74c3c;
    display: flex;
    align-items: center;
}

/* Ícone de alerta antes da mensagem de erro */
.criar-termo-container button .error-message::before {
    content: "⚠️";
    margin-right: 5px;
    margin-top: 2px;
    font-size: 16px;
}