/* .health-units-container {
    padding: 20px;
  }
  
  .search-add-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  
  .search-input {
    flex-grow: 1;
    padding: 10px;
    font-size: 16px;
    margin-right: 10px;
  }
  
  .units-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
  }
  
  .units-table th, .units-table td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
  }
  
  .units-table th {
    background-color: #f2f2f2;
  }
  
  .units-table button {
    margin: 0 5px;
    padding: 5px 10px;
    cursor: pointer;
  }
  
  /* button {
    background-color: #2490e8;
    color: white;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
  } */ 